@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Raleway:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,900&display=swap');

//Mixin Button Styles
@mixin button-styles {
  padding: 0.8em 3em;
  background-color: rgba(255, 255, 255, 0.1);
  color: #d5d5d5;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffd000de;
    color: #000000;
  }
}

// Variables
$primary-color: #ffd000de;
$secondary-color: #d5d5d5;
$background-color: #060d17;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Global Styles
body {
  background-color: $background-color;
  color: white;
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  font-family: $font-secondary;
}

// Component Styles
.App {
  max-width: 100vw;
  width: 100%;
  h1 {
    margin: 1em auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5em;
  }
  h2 {
    color: $secondary-color;
  }
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  h1 {
    font-size: 1.5rem;
  }
  .input-container {
    position: relative;
  }

  .input-field {
    width: 95%;
    padding-left: 2em;
  }

  .user-icon,
  .password-icon {
    color: #ffd000de;
    font-size: 1.1rem;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  h2 {
    color: $primary-color;
  }

  button {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.8em;
    background-color: rgba(255, 255, 255, 0.1);
    color: $secondary-color;
    font-size: 1.1rem;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color;
      color: black;
    }
  }
}

// Add more styles for other components as needed...

.account-modal-content {
  width: 40%;
  padding: 2em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-align: center;
  border: 2px solid #ffd000de;
  border-radius: 5px;
  h3 {
    color: #d5d5d5;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }

  button {
    padding: 1em 2em;
    width: 100%;
    color: #ffd000de;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    background-color: #1c252f;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #1c252f35;
      border: 1px solid #ffd000de;
    }
  }
}

.auth-message {
  width: 50%;
  margin-inline: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #36d7b7;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: whitesmoke;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: whitesmoke;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #36d7b7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #269c88;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.sign-in {
  width: 40%;
  padding: 2em;
  margin: auto;
  border: 2px solid #ffd000de;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */

  label {
    font: 1.1rem / normal 'Inter', 'san-serif';
    text-align: center;
    color: #ffd000de;
    letter-spacing: 1px;
  }

  .input-container {
    position: relative;
  }

  .input-field {
    width: 93%;
    padding-left: 2em;
  }

  .user-icon,
  .password-icon,
  .user-email {
    color: #ffd000de;
    font-size: 1.1rem;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    // width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffd000de;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    font: 1rem / normal 'inter', sans-serif;
    outline: none;
  }

  button {
    width: 100%; /* Take up the full width */
    margin: 0.5em 0;
    padding: 0.8em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #d5d5d5;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffd000de;
      color: #000000;
    }
  }
}

.sign-up-page {
  h2 {
    text-align: center;
    color: #ffd000de;
  }
}

.home {
  padding-bottom: 2em;
  .button-log-out {
    width: 25%;
    display: block;
    margin: 3em auto 0;
    padding: 1em 5em;
    font-size: 1.2rem;
    background-color: #ffd000de;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #d5d5d5;
    }
  }
}

.back-home {
  button {
    padding: 0.8em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #d5d5d5;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;

    &:hover {
      background-color: #ffd000de;
      color: #000000;
    }
  }
}

.bar-loader {
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  display: flex;
}

.movie-list {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2em 1em 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  row-gap: 3em;
}

.movie-card {
  position: relative;
  box-sizing: border-box;
  width: 15%;
  text-align: center;
  background-color: black;
  color: $primary-color;
  h2 {
    font-size: 1rem;
    color: #d5d5d5;
  }
  p {
    vertical-align: middle;
    font-weight: bold;
    margin: 0.5em 0;
    color: #d5d5d5;
  }
  span {
    color: #ffd000de;
  }

  img {
    width: 100%;
    height: 250px;
    // border-radius: 8px;
    margin-bottom: 0.5em;
    transition: opacity 0.15s;
    background: #000;
    &:hover {
      opacity: 0.9;
    }
  }

  button {
    margin: 1.5em 0;
    padding: 1em 4em;
    border-style: none;
    background-color: #ffd000de;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      opacity: 0.8;
    }
  }

  .imdb-logo {
    margin-left: 0.5em;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
}

.plus-icon {
  position: absolute;
  z-index: 1;
  font-weight: bold;
  color: white;
  border: #d5d5d5;
  background-color: #393838;
  padding: 0.9em 0.6em;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.movie-card-bottom {
  background-color: #1c252f;
  padding: 0em 0.5em 2em;
  height: 200px;
}

.plus-icon-watchlist,
.check-icon-watchlist {
  margin-right: 0.4em;
}

.movie-filter {
  display: flex;
  gap: 1em;
  place-content: center;
  margin: 2em 0;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffd000de;
    font-weight: bold;

    input {
      margin-right: 5px;
    }
  }
}

.user-info {
  width: 20%;
  border: 2px solid #ffd000de;
  border-radius: 5px;
  margin: 3em auto;
  cursor: pointer;
  transition: 0.5s all;

  .user-icon {
    background-color: $primary-color;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.5em;
    color: black;
    margin-right: 0.5em;
  }
  p {
    color: #ffd000de;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  &:hover {
    background-color: #ffd000de;
    p {
      color: black;
    }

    .user-icon {
      background-color: transparent;
      // color: black;
    }
  }
}

.pagination {
  display: flex;
  gap: 1em;
  place-content: center;
  button {
    margin: 1em 0;
    padding: 1em 3em;
    border-style: none;
    background-color: #ffd000de;
    cursor: pointer;
    transition: 0.5s all;

    &.activePage {
      background-color: #d5d5d5;
      color: black;
      font-weight: bold;
    }
    &:hover {
      background-color: #d5d5d5;
      color: black;
      font-weight: bold;
    }
  }
}

.search-box {
  position: relative;
  padding: 0.5em;
  border-radius: 5px;
  .search {
    position: relative;
    width: 30%;
    display: block;
    margin-inline: auto;
    padding: 0.5em;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: #333;
    // transition: .5s;
    &:focus {
      border: 1.5px solid $primary-color;
    }
  }

  &::placeholder {
    font-weight: bold;
    color: #e9e3e3;
  }
  ul {
    li {
      list-style: none;
      padding: 3px 0;
      color: $primary-color;
      font-family: 'monospace', sans-serif;
      font-weight: bold;
    }
  }
}

.movie-search-info {
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  ul {
    li {
      &:hover {
        color: #e9e3e3;
      }
    }
  }
}

.movie-search-result {
  padding: 1em;
  border-top: 2px solid #aaa;
  // border-bottom: 1px solid #aaa;
  background-color: #393838;
  display: flex;
  align-items: center;
  gap: 2em;
  cursor: pointer;

  img {
    width: 100px;
    height: 120px;
  }
}

.movie-details {
  padding: 1em 2em;

  h2 {
    text-align: center;
    color: #ffd000de;
  }

  figcaption {
    width: 40%;
  }
  img {
    width: 100%;
    height: 500px;
    border-radius: 3px;
  }

  p {
    font-weight: bold;
  }

  span {
    color: #ffd000de;
    font-weight: bold;
  }

  a {
    color: white;
  }
}

.movie-info {
  display: flex;
  justify-content: space-between;
}

.movie-description {
  width: 50%;
  img {
    margin-left: 0.5em;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  .back-btn {
    margin-top: 2em;
    background-color: #ffd000de;
    border-style: none;
    font-size: 1.1rem;
    padding: 0.5em 3em;
    cursor: pointer;
  }
}

.remove-from-favorites-btn {
  margin: 2.5em 1em;
  background-color: #ffd000de;
  border-style: none;
  font-size: 1.1rem;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

.user-rating-content {
  margin-top: 0.2em;
  span {
    font-size: 1.2rem;
  }
  p {
    font-weight: bold;
  }
}

.user-account {
  width: 50%;
  padding: 2em 5em;
  border: 2px solid #ffd000de;
  border-radius: 5px;
  margin: 3em auto;
  transition: 0.5s all;

  h2 {
    color: #ffd000de;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .user-icon {
    margin-right: 0.2em;
  }

  p {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .user-profile-buttons-box {
    display: flex;
    place-content: center;
    gap: 2em;
  }

  button {
    margin-top: 2em;
    // display: block;
    // margin-inline: auto;
    background-color: #ffd000de;
    border-style: none;
    font-size: 1.1rem;
    padding: 0.5em 4em;
    cursor: pointer;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;

  .modal-content {
    background-color: black;
    color: #ffd000de;
    margin: 10% auto;
    padding: 1.2em;
    border: 1px solid #ffd000de;
    border-radius: 5px;
    max-width: 400px;
    max-height: 200px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    scroll-padding-top: 1.1em;
    scroll-behavior: smooth;

    .close {
      color: #aaa;
      float: right;
      font-size: 1.7rem;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #ffd000de;
        text-decoration: none;
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      a {
        text-decoration: none;
        color: #ffd000de;
        cursor: pointer;

        &:hover {
          color: #d5d5d5;
        }
      }
      li {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }

    p {
      font-size: 16px;
    }
  }
}

.favorites-box {
  width: 150px;
  float: right;

  button {
    padding: 1em 2em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    background-color: inherit;
    border-style: none;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #f5f5f526;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color:#393838;
    }
  }

  .favorite-movie-quantity {
    padding: .1em .8em;
    margin-left: .2em;
    border-radius: 30%;
    font-size: 0.7rem;
    color: black;
    background-color: $primary-color;
  }
}

.favorite-movie-list {
  p {
    font: 1.1rem / normal 'Inter', sans-serif;
    letter-spacing: 0.7px;
  }
}

.language-selector {
  padding: 1em;
  label {
    color: #ffd000de;
    font: 1.05rem / normal 'Inter', sans-serif;
  }
  select {
    padding: 0.2em;
    background-color: #060d17;
    color: #ffd000de;
    outline: none;
  }
}

@media (max-width: 930px) {
  .movie-card {
    width: 20%;
    img {
      height: 200px;
    }
    h2 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.8rem;
    }

    button {
      font-size: 0.8rem;
    }
  }
}
